# INTERNAL
NODE_ENV=
API_PORT=
FE_ORIGIN=
JWT_PASSPHRASE=
COOKIE_SECRET=

# REVERSE PROXY
NGROK_DOMAIN=
NGROK_AUTHTOKEN=

# BUCKET STORAGE
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL=
AWS_REGION=

# DATABASE
DB_HOST=pg-201bf4b1-ordinly.k.aivencloud.com
DB_PORT=27152
DB_USER=avnadmin
DB_PASSWORD=AVNS_yJqTf9QLUupeKFkaK4a
DB_DATABASE=defaultdb