# INTERNAL
NODE_ENV=
API_PORT=
FE_ORIGIN=
JWT_PASSPHRASE=
COOKIE_SECRET=

# REVERSE PROXY
NGROK_DOMAIN=
NGROK_AUTHTOKEN=

# BUCKET STORAGE
BUCKET_ACCESS_KEY_ID=
BUCKET_SECRET_ACCESS_KEY=
BUCKET_ENDPOINT_URL=
BUCKET_REGION=

PRIVATE_BUCKET_ID=
PRIVATE_BUCKET_NAME=

PUBLIC_BUCKET_ID=
PUBLIC_BUCKET_NAME=

# DATABASE
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# MAPS
MAP_API_TOKEN=

# EMAIL
EMAIL_API_TOKEN=
EMAIL_FROM_NAME=
EMAIL_FROM_ADDRESS=